<ion-header no-border>
  <ion-navbar color="azul-escuro">  
    <ion-title>
      Devops Plan
    </ion-title>

    <ion-buttons end>
      <ion-badge [color]="badgeColor" id="badge" item-end>0</ion-badge>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar id="searchBar" #searchBar [(ngModel)]="assuntoBuscado" (ionInput)="getAssuntos()"
  debounce="250" placeholder="Digite o assunto..." animated="true">
  </ion-searchbar>
  
  <div id="divListAssuntos">
    <ion-list *ngIf="showList">
      <button color="white" ion-item detail-none *ngFor="let assunto of assuntos" (click)="setAssunto(assunto)">
        {{ assunto }}
      </button>
    </ion-list>
  </div>

  <div id="divBtIniciar">
    <button *ngIf="controleBotao" id="btIniciar" ion-button outline (click)="getQuestion()">INICIAR</button>
  </div>

  
</ion-content>