<ion-header>
  <ion-navbar>  
    <ion-title>
      Devops Plan
    </ion-title>

    <ion-buttons end>
      <ion-badge id="badge" item-end>0</ion-badge>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
    <!-- (ionInput)="getAssuntos($event)" -->
    <!-- (ionInput)="pesquisarAssuntos(assuntoBuscado)" -->
  <ion-searchbar #searchBar [(ngModel)]="assuntoBuscado" (ionInput)="pesquisarAssuntos(assuntoBuscado)"
  debounce="750" placeholder="Digite o assunto..." animated="true">
  </ion-searchbar>
  <button id="btIniciar" ion-button block (click)="pushPageQuestions(assuntoBuscado)">INICIAR</button>
  <div id="divListAssuntos">
    <ion-list *ngIf="showList">
      <button ion-item detail-none *ngFor="let assunto of assuntos" (click)="setAssunto(assunto)">
        {{ assunto }}
      </button>
    </ion-list>
  </div>

</ion-content>